{
  "presets": ["es2015", "stage-2"],
  "plugins": [
    ["module-alias", [
      { "src": "lib", "expose": "lib" },
      { "src": "model", "expose": "model" },
      { "src": "controllers", "expose": "controllers" },
      { "src": "config", "expose": "config" }
    ]]
  ]
}
